name: Package and Release

on:
  push:
    tags:
      - "**"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: BigWigsMods/packager@v2
        with:
          args: -p 1450412
        env:
          CF_API_KEY: ${{ secrets.CURSEFORGE }}
